<!DOCTYPE html>
{% load static %}
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>Web GIS</title>
    <!--    leaflet css-->
    <link rel="stylesheet" href="{% static 'https://unpkg.com/leaflet@1.9.3/dist/leaflet.css' %}"
          integrity="sha256-kLaT2GOSpHechhsozzB+flnD+zUyjE2LlfWPgU04xyI=" crossorigin=""/>
    <!--    measure css-->
    <link rel="stylesheet" href="{% static 'lib/measure/measure.css' %}"/>


</head>
<body>


</body>

<script src="{% static 'lib/measure/measure.js' %}"></script>



<script>




    // measuring distance and area
    // const myMap = L.map('map');
    // const measureControl = new L.Control.Measure();
    // measureControl.addTo(myMap);

    //    adding geojson daa
    // L.geoJSON(data).addTo(map)
    //    clustering data points





</script>
</html>